.booking-page {
   padding-top: 180px;

   .booking-room__bredcrumb {
      
  }
   .booking-room__bredcrumb-row {
      padding: 0px 50px 0px 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      @media (max-width:$md3+px){
         padding: 0px 0px 0px 0px;
      }
   }
   .booking-room__bredcrumb-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .booking-room__bredcrumb-item {
   }
   .booking-room__bredcrumb-link {
      white-space: nowrap;
      margin: 0px 20px 0px 20px;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.4);
     
   }
   .active {
      color: #000000;
   }
   .booking-room__bredcrumb-line {
      display: block;
      width: 100%;
      padding: 0px 20px 0px 20px;
      height: 1px;
      background: #B98B4B;
      @media (max-width:$md3+px){
         position: relative;
         width: 5px;
         height: 5px;
         border-radius: 50%;
         padding: 0;
      }
   }
   
   
}
.booking-page__wrap {
   display: flex;
}
.booking-aside {
   flex: 0 1 25%;
   padding: 100px 5% 15px 30px;
   @media (max-width:1500px){
      padding-right: 2%;
   }
}

.booking-room {
   position: relative;
   flex: 0 1 75%;
   padding: 50px 30px 50px 5%;
   @media (max-width:1400px){
      padding-left: 1%;
   }
   @media (max-width:$md2+px){
      flex: 0 1 100%;
      padding-right: 1%;
   }
   
   &::after {
      content:'';
      position: absolute;
      top: 0;
      top: 50%;
      transform: translate(0, -50%);
      right: 0;
      width: 2px;
      height: 90%;
      background: #B98B4B;
      @media (max-width:$md2+px){
         display: none;
      }
   }
   

   .booking-room__form {
      display: block;
      position: relative;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.15);
      @media (max-width:$md2+px){
         display: none;
      }

      
   }
   .booking-room__form-mobile {
      display: none;
      position: relative;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.15);
      @media (max-width:$md2+px){
         display: block;
      }

      .booking-room__form-wrapper {
         display: flex;
         flex-direction: row;
      
      }
      .main__screen-form-item {
         min-width: 125px;
         margin: 0px 10px 0px 10px;
      }
      .main__screen-btn {
         margin-top: 0;
      }

   }
   .booking-room__input {
      font-family: Philosopher;
      background-color: transparent;
      font-size: 18px;
      color: #4a4a4a;
      padding: 0 15px 0 15px;
   }
  
}
.booking-room__form-wrapper {
   display: flex;
   flex-wrap: wrap;
   .main__screen-form-item {
      width: 220px;
      margin-right: 0;
      margin: 0px  30px 40px 0px;

      .booking-room__checkbox-text {
         padding: 0px 15px 0px 15px;
         font-family: Philosopher;
         background-color: transparent;
         font-size: 18px;
         color: #4a4a4a;
         flex-direction: row-reverse;
   }

      .checkbox {
        
         &__input {
            &:checked + .checkbox__text:before {
               background: #fff url("../img/booking/arrow.svg") center no-repeat;
            }
         }
         // .checkbox__text
         &__text {
           
            &:before {
               content: "";
               align-self: flex-start;
               margin: 0px 0px 0px 15px;
               flex: 0 0 20px;
               top: 0;
               left: 0;
               width: 20px;
               height: 18px;
               background: #fff;
               border: 1px solid #a7a9ac;
            }
         }
         
         &._error {
            .checkbox__text {
               &:before {
                  border: 1px solid #ee1212;
               }
            }
         }
      }
   }
   .main__screen-form-item:nth-last-child(-n + 4) {
      margin-bottom: 0;
      @media (max-width:1505px){
         margin-bottom: 40px;
      }


   }
   

   .select__value {
      span   {
         font-size: 18px;
      }
      
   } 
   .select__option {
      font-size: 18px;
   }
   .input__datepicker{
      font-size: 18px;
      &::placeholder {
         font-size: 18px;
      }
   }
}
.booking-room__card {
   position: relative;

   &:after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0%);
      width: 90%;
      height: 1px;
      background:  #B98B4B;
   }
}
.booking-room__card-wrap {
   padding: 50px 0px 30px 0px;
   display: flex;
   align-items: flex-start;
}
.booking-room__column {
}
.booking-room__column-img {
   flex: 0 1 34%;
   margin-right: 30px;
   background-color: #635F5B;
   font-family: 'Philosopher';
   
   color: #FFFFFF;
}
.boking-room__card-img {
   height: 207px;
   margin-bottom: 25px;
}
.boking-room__card-footer {
   padding: 0px 20px 20px 20px;
   .main__screen-form-item {
      min-width: 180px;
      border-bottom: none;
      margin: 15px 0px 15px 0px;
   }
   .select__value {
      flex-direction: row;
      justify-content: flex-start;
      padding: 0;
      font-size: 18px;
      order: 3;
      &:before{
         width: 20px;
         height: 15px;
         order: 2;
      }
      &:after {
         content:'';
         width: 30px;
         height: 20px;
         margin-right: 15px;
         order: 1;
         background: url(../img/booking/bed.svg) center  no-repeat;
      }
   }

   .select__options  {
      min-width: 50%;
   } 
}
.boking-room__card-title {
   font-size: 28px;
   line-height: 100%;
   margin-bottom: 15px;
}
.boking-room__card-subtitle {
   color:rgba(255, 255, 2555, 0.7);
}
.main__screen-form-item {

}
.form {

}
.boking-room__card-link {
   color: inherit;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   color: rgba(255, 255, 255, 0.7);
   text-decoration: underline;
}
.booking-room__column-text {
   flex: 0 1 66%;
}
.booking-room-price-item {
   display: flex;
   padding: 16px 30px 16px 30px;
   margin-bottom: 20px;
   background: #F5EEE4;
}

.booking-room__column-text {
   

}

.booking-room-price-item-text {
   flex: 0 1 70%;
   padding-right: 20px;
}
.booking-room-price-item-title {
   font-family: 'Philosopher';
   margin-bottom: 10px;
   font-size: 24px;
   line-height: 24px;
   color: #000000;
}
.booking-room-price-item-add {
   flex: 0 1 30%;
}
.booking-room-price-item-list-item {
   font-size: 18px;
   line-height: 18px;
}
.booking-room-price-item-add-desc {
   margin-bottom: 15px;
   span {
      font-weight: 700;
      font-size: 24px;
   }
}
.booking-room-price-item-btn {
   display: block;
   width: 100%;
   text-transform: capitalize;
    background-color: transparent;
    font-size: 24px;
    color: #B98B4B;
    padding: 10px 10px 10px 10px;
    border: 1px solid #B98B4B;
    &:after {
      border: .5px solid  #B98B4B;
    }
}


.stay {
   @media (max-width:$md2+px){
      display: none;
   }
}
.stay__title {
   font-size: 32px;
   line-height: 39px;
   color: #000000;
   margin-bottom: 15px;
   text-transform: uppercase;
}
.stay__chek-wrap {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
  
}
.stay__chek-in {
   margin-right: 15px;
   
}
.stay__chek-out {
}
.stay__dey {
   span {
      color: rgba(0, 0, 0, 0.6);
   }
}
.stay__person {

}
.stay__spoller-block {
   margin: 40px 0px 20px 0px;


}
.stay__spoller-block-item {
}
.stay__spoller-block-title {
   position: relative;
   cursor: pointer;
   &::before {
      content:'';
      position: absolute;
      top: 5px;
      left: -18px;
      width: 15px;
      height: 15px;
      cursor: pointer;
      background: url(../img/booking/delete.svg) center no-repeat;
   } 
   &::after {
      content:'';
      position: absolute;
      top: 8px;
      right: -10px;
      width: 24px;
      height: 15px;
      cursor: pointer;
      background: url(../img/booking/arrow1.svg  ) center no-repeat;
      transition: all 0.3s ease;
   } 
   

}
.stay__spoller-block-title._active {
   &:after {
      transform: rotate(180deg);
   }
   
}
.stay__spoller-block-title-wrap {
   display: flex;
   justify-content: space-between;

   p {
      margin-right: 20px;
      color: #000000;
      font-size: 24px;
      line-height: 28px;
      font-weight: 600;
      &:last-child {
         white-space: nowrap;
      }

   }
   
}
.stay__spoller-block-subtitle {
   font-size: 18px;
   color: rgba(0, 0, 0, 0.6);
}
.stay__spoller-block-body {
   
   display: flex;
   justify-content: center;
   display: none;
}

.stay__spoller-body-table {
   font-size: 18px;
   color: #000000;
   line-height: 28px;
   padding-top: 20px;
   width: 90%;
   tr {
      line-height: 14px;

   }
}
.stay__total {
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.stay__total-wrap {
   display: flex;
   width: 100%;
   justify-content: space-between;
   padding-right: 20px;
   margin-bottom: 20px;
}
.stay__total-title {
   font-size: 28px;
   text-transform: uppercase;
}
.stay__total-sum {
   font-family: "Philosopher";
   font-size: 24px;
   font-weight: 700;
}
.stay__total-btn {
   width: 80%;
   display: block;
   text-transform: capitalize;
    background-color: transparent;
    text-align: center;
    font-size: 24px;
    color: #B98B4B;
    padding: 10px 10px 10px 10px;
    border: 1px solid #B98B4B;
    &:after {
      border: .5px solid  #B98B4B;
    }
}
