.booking-room {
   padding-top: 350px;

   .booking-room__form {
      position: relative;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.15);

      
   }
   .booking-room__input {
      font-family: Philosopher;
      background-color: transparent;
      font-size: 18px;
      color: #4a4a4a;
      padding: 0 15px 0 15px;
   }
  .booking-room__bredcrumb {
     margin-bottom: 50px;
  }
   .booking-room__bredcrumb-row {
   }
   .booking-room__bredcrumb-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .booking-room__bredcrumb-item {
   }
   .booking-room__bredcrumb-link {
      white-space: nowrap;
      padding: 0px 20px 0px 20px;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.4);
     
   }
   .active {
      color: #000000;
   }
   .booking-room__bredcrumb-line {
      display: block;
      width: 100%;
      padding: 0px 20px 0px 20px;
      height: 1px;
      background: #B98B4B;
   }
}
.booking-room__form-wrapper {
   display: flex;
   flex-wrap: wrap;
   .main__screen-form-item {
      width: 225px;
      margin-right: 0;
      margin: 0px  30px 40px 0px;

      .booking-room__checkbox-text {
         padding: 0px 15px 0px 15px;
         font-family: Philosopher;
         background-color: transparent;
         font-size: 18px;
         color: #4a4a4a;
         flex-direction: row-reverse;
   }

      .checkbox {
        
         &__input {
            &:checked + .checkbox__text:before {
               background: #fff url("../img/booking/arrow.svg") center no-repeat;
            }
         }
         // .checkbox__text
         &__text {
           
            &:before {
               content: "";
               align-self: flex-start;
               margin: 0px 0px 0px 15px;
               flex: 0 0 20px;
               top: 0;
               left: 0;
               width: 20px;
               height: 18px;
               background: #fff;
               border: 1px solid #a7a9ac;
            }
         }
         
         &._error {
            .checkbox__text {
               &:before {
                  border: 1px solid #ee1212;
               }
            }
         }
      }
   }
   .main__screen-form-item:nth-last-child(-n + 4) {
      margin-bottom: 0;
      @media (max-width:1150+px){
         margin-bottom: 40px;
      }

   }
   .select__value {
      span {
         font-size: 18px;;
      }
   }
   .select__option {
      font-size: 18px;
   }
   .input__datepicker{
      font-size: 18px;
      &::placeholder {
         font-size: 18px;
      }
   }
}
