/*HEADER
==================================================================*/
.header {
	position: fixed;
	width: 100%;
	z-index: 2;

}
.header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
._container {
}
.header-top__menu {
	display: flex;
}
.header__burger {
	margin-right: 20px;
}
.header__menu-label {
	color: #fff;
	font-size: 24px;
	font-family: "Philosopher";
	cursor: pointer;
}
.header__menu {
	.header__menu-btn {
		position: relative;
		display: block;
		margin-top: 30px;
		font-family: "Philosopher";
		font-size: 24px;
		color: #B98B4B;
		padding: 12px 35px 12px 35px;
		border: 2px solid rgba(185, 139, 75, 0.8);
		&:after {
			content: '';
			position: absolute;
			top: 2px; left: 2px; bottom: 2px; right: 2px;
			border: 0.5px solid rgba(185, 139, 75, 1);
		}
		&:hover:after {
			opacity: 0;
		}
	}
}
.menu {
}
.header__link {
	font-size: 24px;
	font-family: "Philosopher";
	color: #B98B4B;
}
.header__logo {
	display: inline-block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
.header__personal {
	display: inline-block;
	padding-left: 42px;
	position: relative;
	&:after {
		content:'';
		position: absolute;
		top: -16px;
		left: 0;
		width: 42px;
		height: 42px;
		background: url(../img/header/human.svg) center no-repeat;
	}
}
.header__cart {
	display: inline-block;
	padding-left: 42px;
	position: relative;
	&:after {
		content:'';
		position: absolute;
		top: -20px;
		left: 0;
		width: 42px;
		height: 42px;
		background: url(../img/header/cart.svg) center no-repeat;
	}
}
.header__order-lenguage {
}
.form {
}




/*===============================================================*/