.page__wrapper {
   display: flex;
   color:#000;
   padding-top: 210px;
   position: relative;
   justify-content: center;
   padding-right: 15%;
   @media (max-width:1580px){
      padding-right: 8%;
   }
   @media (max-width:1400px){
      padding-right: 3%;
   }
   @media (max-width:$md2+px){
      padding-top: 110px;
      padding-right: 0;
   }
   a {
      color: inherit;
   }
}
.page__aside {
   height: 500px;
   width: 573px;
   margin-right: 30px;
   @media (max-width:$md2+px){
      display: none;
   }
   
   

}
.aside__nav {
   padding-left: 50px;
   @media (max-width:1400px){
      padding-left: 15px;
   }
}
.aside__nav-list {
    li {
      margin-bottom: 30px;
    }
}
.aside_nav-link {
   font-size: 18px;
   transition: all 0.3s ease;
   &:hover {
      color:rgba(185, 139, 75, 0.8);
   }
   &._active {
      color:rgba(185, 139, 75, 0.8);
   }
   
}
.main__page {
   flex: 1 1 auto;
   
}
.main__container {
  
   // max-width: 1134px;
   // background-color: #000;
   // margin: 0 auto;
}
.main__page-nav {
   margin-bottom: 70px;
   @media (max-width:$md2+px){
      margin-bottom: 10px;
   }
}
.main__page-nav-list {
   display: flex;
   justify-content: space-between;
   @media (max-width:$md2+px){
      background-color: #F2F2F2;
      padding: 10px 0px 0px 0px;
   }
   li {
      padding: 0px 25px 15px 25px;
      border-bottom: 2px solid  transparent;
      text-align: center;
      @media (max-width:$md2+px){
         padding: 0px 10px 15px 10px;
      }
      &.active {
         border-bottom: 2px solid  rgba(185, 139, 75, 0.8);
      }
   }
}
.main__page-nav-link {
   font-family:"Philosopher";    
   font-size: 24px;
   text-align: center;
   text-transform: uppercase;
   color: #3A3A3A;
   @media (max-width:$md2+px){
      font-size: 14px;
      line-height: 14px;
   }
}
.article__museum {
   
   padding: 50px 0px 50px 0px;
   position: relative;
   @media (max-width:$md2+px){
      padding: 10px 0px 30px 0px;
      margin-bottom: 50px;
   }
   &:after {
      content:'';
      position: absolute;
      left: 50%;
      
      transform: translate(-50%, 0);
      bottom: 0;
      width: 80%;
      height: 2px;
      background: rgba(185, 139, 75, 0.8); 
   }
}
.article__museum-wrap {
   display: flex;
}
.article__museum-column {
   flex: 0 1 50%;
   display: flex;
   flex-direction: column;
   @media (max-width:$md2+px){
      flex: 0 1 100%;
      align-items: center;
      &:first-child {
         display: none;
      }
   }
}
.article__museum-column-img {
   margin-right: 40px;  
}
.article__museum-column-text {
   justify-content: space-between;
}
.article__museum-img {
   padding-top: 114%;
   @media (max-width:$md2+px){
      width: 80%;
      padding-top: 93%;
      margin-bottom: 20px;
   }
   @media (max-width:$md4+px){
      width: 100%;
   }
   
}
.article__title {
   font-size: 42px;
   line-height: 51px;
   margin-bottom: 60px;
   @media (max-width:$md2+px){
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin-bottom: 20px;

   }

}
.article__museum-title {
   text-align: right;
   
}
.article__column-text {
   margin-bottom: 40px;
   @media (max-width:$md2+px){
      padding: 0px 10px 0px 10px;
      text-align: center;
   }
  
}
.article__paragraph {
   font-size: 20px;
   line-height: 140%;
   text-align: right;
   margin-bottom: 40px;
   @media (max-width:$md2+px){
      font-size: 16px;
      line-height: 140%;
      text-align: center;
   }
}
.article__museum-logo-wrap {
   display: flex;
   justify-content: space-between;
}
.article__museum-logo {
   @media (max-width:$md2+px){
      margin-right: 30px;
   }
}
.article__museum-icon-wrap {

}
.article__museum-icon {
   display: flex;
   margin-bottom: 50px;
  
}

/*ART
=============================*/

.article__art-img {
   height: 330px;
   margin-bottom: 70px;
}
.article__art-wrap {
   display: flex;
   flex-direction: row-reverse;

   .article__museum-img {
      padding-top: 80%;
   }
   .article__paragraph {
      text-align: left;
      @media (max-width:$md2+px){
         text-align: center;
      }
   }
}
.article__art-title {
   text-align: center;
}
.article__art-column-img {
   margin-left: 50px;
}
.article__art-logo-wrap {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
}
.article__column-text-art {
   text-align: left;
}
/*LITERARY
=============================*/
.article__literary-img {
   padding-top: 92%;
   @media (max-width:$md2+px){
      width: 80%;
      margin-bottom: 20px;
   }
   @media (max-width:$md4+px){
      width: 100%;
   }
}
.article__literary-column-text {

}

/*MODERN
=====================  */
.article__modern-logo-wrap {
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}
.article__modern-column-text  {
   flex: 0 1 78%;
   
}
.article__modern-column-logo {
   flex: 0 1 22%;
   margin-right: 30px;
}
.article__modern-img {
   padding-top: 40%;
   margin-bottom: 30px;
   @media (max-width:$md2+px){
      width: 80%;
   }
   @media (max-width:$md4+px){
      width: 100%;
   }
}
.article__modern-logo {
   @media (max-width:$md2+px){
      margin-bottom: 20px;
   }
}