/*PAGE
==============================================*/
.stay {
   position: relative;
   padding-top: 175px;
   @media (max-width:$md2+px){
      padding-top: 80px;
   }
   
}
.stay__row {
   display: flex;
   @media (max-width:$md2+px){
      flex-direction: column;
   }
}
.stay__column {
   flex: 0 1 50%;
   width: 50%;
   @media (max-width:$md2+px){
      flex: 0 1 100%;
      width: 100%;
   }
}
.stay__column-slider {
   flex: 0 1 50%;
}

.stay__slider {
 width: 100%;
 height: 790px;
 @media (max-width:$md2+px){
    height: 300px;
 }


      
   .swiper-slide {
      padding: 0;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .swiper-pagination {
      left: 20px;
      .swiper-pagination-bullet {
         width: 12px;
         height: 12px;
         border-radius: 50%;
         background: #C4C4C4;
         margin-bottom: 15px;
         opacity: 1;
      }
      .swiper-pagination-bullet-active {
         background: #fff;
      }
   }
}  


.stay__column-text {
   padding-top: 75px;
   color: #fff;
   text-align: right;
   padding-left: 180px;
   background: #635F5B;
   padding-right: 5%;
   @media (max-width:$md2+px){
      padding: 50px 20px 50px 20px;
   }
}

.stay__column-title {
   color: #fff;
   text-align: right;
   margin-bottom: 56px;
   @media (max-width:$md2+px){
      text-align: left;
      font-size: 36px;
      line-height: 46px;
      margin-bottom: 32px;
   }
   @media (max-width:$md4+px){
      text-align: center;
   }
}
.stay__column-text-content {
   font-family:"Philosopher";
   font-size: 20px;
   line-height: 24px;
   p {
      margin-bottom: 40px;
   }
   @media (max-width:$md4+px){
      text-align: center;
   }
}
.main__screen-form {
}
.stay__form {
   position: absolute;
   flex-wrap: nowrap;
   bottom: 10%;
   left: 50%;
   transform: translate(-50%, 0);
   z-index: 1;
   background-color: #fff;
   width: auto;
   align-items: center;
   padding: 25px 45px 25px 45px;
   @media (max-width:$md2+px){
      display: none;
   }
   .select__options {
      border-radius: 0px;
   }
   .select__title {
      color:#4A4A4A;
   }
   .select__value:before {
      background: url(../img/header/arrow_darck.svg) center/100% no-repeat;
  }
   .main__screen-form-item {
      border-bottom: 1px solid #FFFFFF;
      margin-right: 40px;
      height: 40px;
      border-bottom: 1px solid #4A4A4A;
      @media (max-width:1150px) {
         margin-bottom: 30px;
         margin-right: 0;
         width: 100%;
      }
         
   
   }
   .input__datepicker-wrap {
      position: relative;
      &:after {
         content:'';
         position: absolute;
         top: 0;
         right: 0;
         width: 24px;
         height: 24px;
         background: url(../img/header/calendar_darck.svg)  no-repeat;
         cursor: pointer;
      }
   }
   .input__datepicker {
      position: relative;
      width: 225px;
      font-family:"Philosopher";
      background-color: transparent;
      font-size: 24px;
      color: #4A4A4A;
      padding: 0px 15px 0px 15px;
      &::placeholder{
         color: #4A4A4A;
      }

}
.main__screen-btn {
   display: block;
	position: relative;
	color: #4A4A4A;
	border: 1px solid rgba(74, 74, 74, 0.8);
	padding: 12px 45px 12px 45px;
	&:after {
		content: '';
		position: absolute;
		top: 2px; left: 2px; bottom: 2px; right: 2px;
		border: 0.5px solid rgba(74, 74, 74, 0.8);
	}
	@media (max-width:1153px) {
		margin-top: 20px;
	}

}
}
.main__screen-btn {
}
.section__btn {
}
/*====================================================*/
/*APARTMENTS
========================================================*/
.aparments {
}
.apartments__row {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}


.apartment__title {
   text-align-last: left;
   margin-bottom: 80px;
}
.aparments__column {
   flex: 0 1 50%;
   width: 50%;
}
.apartments__item {
}

.img__test {
   padding-top: 100px;
}

.apartmets__slider {
   margin-bottom: 30px;
   height: 430px;

   .swiper-wrapper {
      
   }
   .swiper-slide {
     
      padding: 0;
   }
   .swiper-pagination {
   }
   .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      display: inline-block;
      border-radius: 100%;
      background:#C4C4C4;
      opacity: .2;
   }
   .swiper-pagination-bullet-active {
      background:#fff !important;
      opacity: 1;
   }

}
.apartments__item-top-text {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   margin-bottom: 40px;
}
.apartments__item-title-wrap {

}
.apartments__item-title {
   display: block;
   font-family:"Philosopher";
   color:#000;
   font-size: 32px;
   margin-bottom: 10px;
}
.apartments__item-subtitle {
   font-family:"CormorantGaramond";
   font-size: 24px;
}
.apartments__item-btn {
   color: #B98B4B;
   border: 1px solid rgba(185, 139, 75, 1);
   margin-right: 10px;
	transition: all 0.3s ease;
	
	&:after {
		content: '';
		position: absolute;
		top: 2px; left: 2px; bottom: 2px; right: 2px;
		border: 0.5px solid rgba(185, 139, 75, 1);
	}
	&:hover {
		background-color: rgba(255, 255, 255, 1);
		color: #B98B4B;
		
	}
	&:hover:after {
		border:none;
	}
}
.aparments__item-text {
   font-size: 22px;
   line-height: 28px;
}
.apartments__item-list {
   margin-top: 30px;
   column-count: 2;
   column-gap: 35px;
}
.apartments__item-list-item {
   padding-left: 15px;
   position: relative;
   font-size: 22px;

   &:before {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background:#B98B4B ;
   }
}



/*======================================================*/





