.room {
   padding-top: 200px;
   background:#393734 url('../img/room/pattern-bg.png ') left center  no-repeat;
   color: #fff;


   .room__row {
      display: flex;
      @media (max-width:$md2+px){
         flex-direction: column;;
      }
   }
   .room__column-slider {
      width: 50%;
      margin-right: 80px;
      @media (max-width:$md2+px){
         width: 100%;
         margin-right: 0;
         margin-bottom: 50px;
      }
   }
   .room__column-text {
      @media (max-width:$md3+px){
         display: flex;
      flex-direction: column;
      align-items: center;
      }
      
   }
   
   .room__slider-top {
      width: 100%;
      height: 500px;
   }
   .room__slider-bottom  {
      margin-top: 50px;
      width: 100%;
      height: 120px;

      .swiper-slide {
         cursor: pointer;
      }
   }
   
   .room-title {
      color: inherit;
   }
   .aparments__item-text {
      @media (max-width:$md3+px){
         text-align: center;
      }
   }
   .room-btn {
      display: inline-block;
      margin-left: 0;
      margin-top: 55px;
      text-align: center;
   }
   .apartments__item-list {
      @media (max-width:$md4+px){
         column-count: 1;
      }
   }
}