.room {
   padding-top: 200px;


   .room__row {
      display: flex;
   }
   .room__column-slider {
      width: 50%;
   }
   .swiper-container {
   }
   .room__slider {
      width: 100%;
      height: 500px;
   }
   .swiper-wrapper {
   }
   .swiper-slide {
   }
   ._ibg {
   }
   .swiper-pagination {
   }
   .apartments__item-top-text {
   }
   .apartments__item-title-wrap {
   }
   .apartments__item-title {
   }
   .apartments__item-subtitle {
   }
   .apartments__item-btn {
   }
   .section__btn {
   }
   .aparments__item-text {
   }
   .apartments__item-list {
   }
   .apartments__item-list-item {
   }
}